.env
.env.local
.env.development
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.local

knowledge/
.DS_Store

backend/venv/
backend/__pycache__/
backend/app/__pycache__/
backend/app/api/__pycache__/
backend/app/api/v1/__pycache__/
backend/app/api/v1/endpoints/__pycache__/
backend/app/api/v1/endpoints/auth/__pycache__/
backend/app/api/v1/endpoints/decks/__pycache__/
backend/app/api/v1/endpoints/steps/__pycache__/
backend/app/api/v1/endpoints/comments/__pycache__/
backend/app/api/v1/endpoints/files/__pycache__/
backend/app/api/v1/endpoints/admin/__pycache__/
backend/app/core/__pycache__/
backend/app/models/__pycache__/
backend/app/models/user/__pycache__/
backend/app/models/deck/__pycache__/
backend/app/models/step/__pycache__/
backend/app/models/comment/__pycache__/
backend/app/models/file/__pycache__/
backend/app/models/admin/__pycache__/
backend/app/utils/__pycache__/
backend/app/utils/minio_client/__pycache__/
